/* purgecss start ignore */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;600;700&family=Yeseva+One&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

p {
    text-align: justify;
}
