/* purgecss start ignore */
@tailwind base;

/* purgecss end ignore */
@tailwind components;
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,700;1,500&display=swap');

@import 'tailwindcss/utilities';


h1, h3 {
  font-family: 'Fira Sans', sans-serif;  
  font-weight: 700;
}

.content > p {
    text-align: justify;
    margin: 30px 0;
}

p {
  text-align: justify;
}

p > a {
  color: #001aff;
}


p > img {
  width: 100%;
}

em {
  font-size: 0.9rem;
  font-style: italic;
}

em > a {
  color: #001aff;
}

ol, ul {
	list-style: disc;
	margin: 0;
	padding-left: 40px;
}

.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}


.v-lazy-image {
    filter: blur(10px);
    transition: filter 0.7s;
  }
  
  .v-lazy-image-loaded {
    filter: blur(0);
  }
