@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;600;700&family=Yeseva+One&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.content > p {
    text-align: justify;
    margin: 30px 0;
}

p {
  text-align: justify;
}

p > a {
  color: #001aff;
}


p > img {
  width: 100%;
}

em {
  font-size: 0.9rem;
  font-style: italic;
}

em > a {
  color: #001aff;
}

ol, ul {
	list-style: disc;
	margin: 0;
	padding-left: 40px;
}

.v-lazy-image {
    filter: blur(10px);
    transition: filter 0.7s;
  }
  
  .v-lazy-image-loaded {
    filter: blur(0);
  }
